################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FriedLiver/scans
/FriedLiver/x64
/FriedLiver/.vs/FriedLiver/v15
*.pdb
/FriedLiver/Mapping/x64/Release
/FriedLiver/VR/x64/Release
/external
